VITE_API=http://localhost:8080
VITE_STRIPE_PUBLISH_KEY= pk_test_51Qs7t1KoaPJe06fwjsuBEmmQe1sPCo0OzkXqaCaROp8CWBTO56f9Sq1iPrSYpCfayYILXpq2IAQl7og5z0FsUpU100qvOZComi
VITE_SERVER_URL= SERVER_BASE_URL_WITHOUT_TRAILING_SLASH 
(in case you want deployed server url- https://e-commerce-mgtd.onrender.com without any / at end)
